etc/NetworkManager/dnsmasq.d/local.conf
home/.config/systemd/user/default.target.wants
home/.config/nvim/spell
home/.ssh/id_rsa*
home/.ssh/fakir-github*
home/.ssh/known_hosts*
home/bin/xvpn
home/bin/stripe
home/docker/mongodb/data
