.config/Altair GraphQL Client/
.config/GIMP/
.config/Postman/
.config/QtProject.conf
.config/Slack/
.config/configstore/
.config/copyq/
.config/dconf/
.config/ghb/
.config/google-chrome/
.config/gtk-3.0/
.config/kid3rc
.config/kmagrc
.config/libreoffice/
.config/mimeapps.list
.config/nautilus/
.config/nextjs-nodejs/
.config/pavucontrol.ini
.config/pulse/
.config/qBittorrent/
.config/spotify/
.config/vlc/
.config/trizen/
.config/gedit/
.config/xournalpp/
/.config/nvim/plugin/*
.config/sqlitebrowser/
.config/calibre/
.config/systemd/
.config/htop/
bin/ghcup
.ssh/id_rsa*
.ssh/fakir-github*
.ssh/known_hosts*
.config/nvim/spell
.config/zsh/vars_secret.zsh
.config/lazygit/state.yml
**/__pycache__/*
.config/ncmpcpp/error.log
bin/xvpn
