.config/Altair GraphQL Client/
.config/GIMP/
.config/Postman/
.config/QtProject.conf
.config/Slack/
.config/configstore/
.config/copyq/
.config/dconf/
.config/ghb/
.config/google-chrome/
.config/gtk-3.0/
.config/kid3rc
.config/kmagrc
.config/libreoffice/
.config/mimeapps.list
.config/nautilus/
.config/nextjs-nodejs/
.config/pavucontrol.ini
.config/pulse/
.config/qBittorrent/
.config/spotify/
.config/vlc/
.config/trizen/
.config/cmus/autosave
.config/cmus/cache
.config/cmus/command-history
.config/cmus/lib.pl
.config/cmus/search-history
.config/cmus/search-history
.config/cmus/playlists/
