! -----------------------------------------------------------------------
! URxvt: Scroll
! -----------------------------------------------------------------------
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! -----------------------------------------------------------------------
! URxvt: font
! -----------------------------------------------------------------------
URxvt.font: xft:FiraCode Nerd Font:style=Regular:size=10, xft:Noto Color Emoji:size=10, xft:DejaVu Sans Mono:size=10

! colors
! -----------------------------------------------------------------------
! URxvt: colors
! -----------------------------------------------------------------------
*background: #000000
*foreground: #fbf1c7
*cursorColor: #d79921
! black
*color0: #282828
! red
*color1: #cc241d
! green
*color2: #98971a
! yellow
*color3: #d79921
! blue
*color4: #458588
! magenta
*color5: #b16286
! cyan
*color6: #689d6a
! white
*color7: #fbf1c7
! black-bright
*color8: #1d2021
! red-bright
*color9: #fb4934
! green-bright
*color10: #b8bb26
! yellow-bright
*color11: #fabd2f
! blue-bright
*color12: #83a598
! magenta-bright
*color13: #d3869b
! cyan-bright
*color14: #8ec07c
! white-bright
*color15: #f9f5d7
!*color15: #dadada

! ----------------------------------------------------------------------
! Urxvt: misc config
! -----------------------------------------------------------------------
!URxvt.internalBorder: 40
URxvt.depth: 32
URxvt*lineSpace: 3
URxvt*scrollBar: false
URxvt.geometry: 80x23
URxvt*saveLines: 4096
!URxvt*cursorUnderline: true
URxvt*cursorBlink: true
URxvt*allow_bold: true
! set cursor size
Xcursor.size: 32

URxvt*transparent: true
URxvt*shading: 25
!URxvt*blurRadius: 20x20

