#battery {
  color: @light2;
  background-color: @dark0;
}

#battery.warning:not(.charging) {
  background-color: @neutral-yellow;
  color: @dark0;
}

#battery.critical:not(.charging) {
  background-color: @neutral-red;
}
