#workspaces button {
  padding: 2px 2px 0 3px;
  color: @light2;
}

#workspaces button:first-child {
  margin-left: 0;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: @light2;
  color: @bg;
}

#workspaces button.urgent {
  background-color: @neutral-red;
}
