@define-color bg alpha(#000000, 0.8);
@define-color dark0 #282828;
@define-color dark1 #3c3836;
@define-color dark2 #3c3836;
@define-color dark3 #665c54;
@define-color dark4 #7c6f64;
@define-color light0 #fbf1c7;
@define-color light1 #ebdbb2;
@define-color light2 #d5c4a1;
@define-color light3 #bdae93;
@define-color light4 #a89984;
@define-color neutral-red #cc241d;
@define-color neutral-yellow #d79921;
