configuration {
  modi: "window,drun,run,ssh";
  font: "Fira Code 14";
  xoffset: 0;
  yoffset: 0;
  location: 0;
  show-icons: true;
  icon-theme: "gruvbox-dark-icons-gtk";
  terminal: "kitty";
  sidebar-mode: false;
  auto-select: false;
  parse-known-hosts: true;
  me-select-entry: "";
  me-accept-entry: "MousePrimary";
  matching: "fuzzy";
}

@theme "./onedark.rasi"

listview {
  scrollbar: false;
}
